@import "tailwindcss";


/* reset.css o en tu global.css */
* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif; /* Puedes cambiar a la que prefieras */
  background-color: #e0e5ec; /* Ajusta si quieres otro fondo */
}

@layer components {
  .peer-focus\\:neon-cyan:focus ~ .peer-focus\\:neon-cyan {
    color: #00f3ff;
    text-shadow: 0 0 10px rgba(0, 243, 255, 0.7);
  }
}