@import "tailwindcss";


/* reset.css o en tu global.css */
* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif; /* Puedes cambiar a la que prefieras */
  background-color: #e0e5ec; /* Ajusta si quieres otro fondo */
}

